@mixin styles($bgColor,$color){
    background-color: $bgColor;
    color: $color;
}

@mixin flexible($display, $justifyContent,$alignItems){
    display: $display;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

@mixin Dimensions($width,$height){
    width: $width;
    height: $height;
}

@mixin fontSize($fontSize){
    font-size: $fontSize;
}

@mixin animation($name,$duration,$iterationCount){
    animation-name: $name;
    animation-duration: $duration;
    animation-iteration-count: $iterationCount;
}