$bgColor: #131723;
$textColor: #FBFBFB;
$btnColor: #5FEAD1;
$shodowColor: #4A4D55;
$timerColor: #1F2633;
$shodowBtnGreen:  0px 0px 8px 1px #5fead179;
$shodowBtnGrey:  0px 0px 8px 1px #4a4d55b3;
$stopWatchShodow:  0px 0px 10px 2px #4A4D55;
$timerHoverC: #212a3cc3;
$shodowHoverBtnGrey: 0px 0px 8px 1px #1f212990;
$shodowHoverBtnGreen: 0px 0px 8px 1px #1b615430;
$btnHoverColor: #2bb59c;