@import "varibles";
@import "mixin";
@import "style.css"


.stuff{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: monospace;
}

body{
    @extend .stuff;
    @include styles($bgColor,$textColor);
    @include flexible(flex,center,center);
    height: 100vh;
    .stopwatchclock{
        @include styles($timerColor,$textColor);
        @include Dimensions(250px,250px);
        @include flexible(flex,center,center);
        flex-direction: column;
        box-shadow: $stopWatchShodow;
        border-radius: 50%;
        gap: 15px;
    }
    .timer{
        @include fontSize(40px)
    }
    .date-today{
        @include fontSize(20px);
        color: $btnColor;
    }
}

.watch-btn{
    @include flexible(flex,space-evenly,center);
    @include fontSize(40px);
    margin-top: 50px;
    .start-btn{
        @include styles($btnColor,$bgColor);
        @include Dimensions(60px,60px);
        @include flexible(flex,center,center);
        box-shadow: $shodowBtnGreen;
        border-radius: 50%;
        cursor: pointer;
        &:active{
            background-color: $btnHoverColor;
            box-shadow: $shodowHoverBtnGreen;
        }
    }
    .reset-btn{
        @include styles($timerColor,$textColor);
        @include Dimensions(60px,60px);
        @include flexible(flex,center,center);
        @include fontSize(18px);
        box-shadow: $shodowBtnGrey;
        border-radius: 50%;
        cursor: pointer;
        &:active{
            background-color: $timerHoverC;
            box-shadow: $shodowHoverBtnGrey;
        }
    }
}

.pause{
    opacity: 0;
    display: none;
}


.headline{ 
   @keyframes fade{
    0%,100%{
        box-shadow: inset 0px 0px 12px 0px rgba(255, 0, 0, 0.363);
    }
    50%{
        box-shadow: inset 0px 0px 30px 1px rgba(255, 0, 0, 0.731);
    }
    }
  @include animation(fade, 2s, infinite);
}
